{extend name="public/base"}
{block name="main"}
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    专业管理信息详情页面<small>专业详细信息页面</small>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            ID:{$arr.0.id}
                        </div>
                        <div class="panel-body">
                            <p>专业名称：{$arr.0.yename}</p>
                            <p>所属院系：{$arr.0.xiname}</p>
                            <p>说明：{$arr.0.yeshuoming}</p>
                            <div class="panel-footer">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    </div>
{/block}