{extend name="public/base"}
{block name="main"}
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    课程管理<small>课程专业</small>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center;">
                        新增课程
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <form role="form" action="add" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>课程名称</label>
                                        <input class="form-control" value="" name="kname">
                                    </div>

                                    <div class="form-group">
                                        <label>选择专业</label>
                                        <select  class="form-control" name="zid">
                                            <option>请选择</option>
                                            {volist name="list" id="vo"}
                                            <option value="{$vo.id}">{$vo.yename}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>课程学分</label>
                                        <input class="form-control" value="" name="kfen">
                                    </div>
                                    <div class="form-group">
                                        <label>课程学时</label>
                                        <input class="form-control" value="" name="kshi">
                                    </div>
                                    <div class="form-group">
                                        <label>课程说明</label>
                                        <input class="form-control" value="" name="kshuoming">
                                    </div>
                                    <div class="form-group">
                                        <label>教材封面</label>
                                        <input type="file" name="kmian">
                                        <span style="color: #ac2925;">仅支持jpg和png格式的文件</span>
                                    </div>

                                    <div class="form-group">
                                        <label>是否必修课</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="kmust" id="optionsRadiosInline1" value="0" checked="">是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="kmust" id="optionsRadiosInline2" value="1">否
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label>是否公共课</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="kcom" id="optionsRadiosInline3" value="0" checked="">是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="kcom" id="optionsRadiosInline4" value="1">否
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-default">新增</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
{/block}