{extend name="public/base"}
{block name="main"}
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    课程管理信息详情页面<small>课程详细信息页面</small>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            ID:{$arr.0.id}
                        </div>
                        <div class="panel-body">
                            <p>课程名称：{$arr.0.kname}</p>
                            <p>所属专业：{$arr.0.yename}</p>
                            <p>是否必修课：
                                {if condition="$arr.0.kmust==0"}
                                必修
                                {elseif condition="$arr.0.kmust==1"}
                                不必修
                                {/if}
                            </p>
                            <p>是否公共课：
                                {if condition="$arr.0.kcom==0"}
                                公共课
                                {elseif condition="$arr.0.kcom==1"}
                                非公共课
                                {/if}
                            </p>
                            <p>学分：{$arr.0.kfen}</p>
                            <p>学时：{$arr.0.kshi}</p>
                            <p>说明：{$arr.0.kshuoming}</p>
                            <p>教材封面：</p>
                            <img src="__STATIC__/img/{$arr.0.kmian}" alt="教材封面" width="300px" height="200px">
                            <div class="panel-footer">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
</div>
{/block}