{extend name="public/base"}
{block name="main"}
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    考试管理<small>作业页面</small>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center;">
                        新增作业
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <form role="form" action="add" method="post" enctype="multipart/form-data">
                                    <div class="form-group" style="display: none;">
                                        <input class="form-control" value="{$uid}" name="uid">
                                    </div>

                                    <div class="form-group">
                                        <label>选择课程</label>
                                        <select  class="form-control" name="keid">
                                            <option>请选择</option>
                                            {volist name="list" id="vo"}
                                            <option value="{$vo.id}">{$vo.kname}</option>
                                            {/volist}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>单选题</label>
                                        <input class="form-control" value="5" name="dan">
                                    </div>
                                    <div class="form-group">
                                        <label>多选题</label>
                                        <input class="form-control" value="5" name="duo">
                                    </div>
                                    <div class="form-group">
                                        <label>判断题</label>
                                        <input class="form-control" value="3" name="pan">
                                    </div>
                                    <div class="form-group">
                                        <label>填空题</label>
                                        <input class="form-control" value="3" name="tian">
                                    </div>
                                    <div class="form-group">
                                        <label>完成时间</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="guitime"  value="1" checked="">1天
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="guitime"  value="2">2天
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="guitime"  value="3">3天
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-default">提交</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
{/block}