<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首页</title>
    <!-- Bootstrap Styles-->
    <link href="__STATIC__/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="__STATIC__/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="__STATIC__/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="__STATIC__/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--更新-->
    {block name="sc"}
    {/block}
</head>

<body>
<div id="wrapper">
    <!--导航头部-->
    {include file="public/head"}
    <!--/. 导航头结束  -->

    <!--导航左部-->
    {include file="public/left"}
    <!-- /. 左部导航结束  -->

    <!--内容-->
    {block name="main"}
    {/block}
    <!-- /. 内容结束  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="__STATIC__/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="__STATIC__/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="__STATIC__/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="__STATIC__/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="__STATIC__/assets/js/morris/morris.js"></script>


<script src="__STATIC__/assets/js/easypiechart.js"></script>
<script src="__STATIC__/assets/js/easypiechart-data.js"></script>

<script src="__STATIC__/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="__STATIC__/assets/js/custom-scripts.js"></script>


</body>

</html>